table {
    position: relative;
    top: 37px;
    width: 100%;
}

table td { border-bottom:1px solid #eee; font-style:normal; background-position:1em .5em; background-repeat:no-repeat; }

table th {
    color: #999999;
    height: 2em;
    padding: 0 0.5em;
}

#select_all {
    float: left;
    margin: 0.3em 0.6em 0 0.5em;
}

table th .name {
    float: left;
    margin-left: 0.5em;
}

table th#headerSize, table td.filesize {
    padding: 0 1em;
    text-align: right;
    width: 3em;
}

table th#headerDate, table td.date {
    padding: 0 0.1em 0 1em;
    text-align: left;
    width: 11em;
}

table th, table td {
    border-bottom: 1px solid #DDDDDD;
    font-weight: normal;
    text-align: left;
}
table th {
    color: #999999;
    height: 2em;
    padding: 0 0.5em;
}

.todos {  
}

.todos li {
    display:block;
    margin-bottom: 10px;
}  

.todos .prio {
    background-color: #841F02;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    float: left;
    padding: 1px 6px;
    margin:0.5em;
    margin-right: 10px;
    margin-left: 10px;
}

.todos .prioEmpty {
    margin: 14px;
    background-color: transparent;
}


.todos .prioA {
    background-color: #E1830C;
}

.todos .prioB {
    background-color: #C36309;
}

.todos .prioC {
    background-color: #B35207;
}

.todos .prioD {
    background-color: #A44105;
}

.todos .prioE {
    background-color: #943004;
}

.todos .creationDate {
    float: left;
    padding-right: 5px;
    position: relative;
    top: 4px;
}

.todos .task {
    float: left;
    font-weight:bold;
    padding-right: 5px;
    position: relative;
    top: 7px;
}

.todos .contexts {
    float: left;
    font-weight: bold;
    position: relative;
    top: 4px;
}

.todos .contexts .context {
    padding-right: 5px;
}

.todos .projects {
    float: left;
    font-weight: bold;
    position: relative;
    top: 4px;
}

.todos .projects .project {
    padding-right: 5px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
